<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>Home</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./home">(GRODAL LOGISTICS)</a>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="./home">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="./services">Services</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="./contact">Contact</a>
            </li>
        </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <header>
            <h1 class="display-4">Welcome to Grodal Logistics!</h1>
        </header>
        <p class="lead">
            At Grodal Logistics!, we specialize in delivering seamless logistics services tailored to meet your unique needs. 
            With our extensive experience and dedication to excellence, we ensure that your goods reach their destination 
            safely, efficiently, and on time. <br>
            Whether you're shipping domestically or internationally, our team of logistics experts is here to provide 
            you with personalized support every step of the way. From transportation and warehousing to customs clearance 
            and supply chain management, we offer comprehensive solutions to streamline your operations and optimize your 
            logistics processes.
        </p>
        <hr class="my-4">

        <p class="services">
            Our services includes
        </p>
        <ul>
            <li>Transportation Management</li>
            <span>We specialize in managing transportation logistics, including freight forwarding, trucking, 
                air freight, ocean freight, and intermodal transportation. Our extensive network of carriers 
                ensures reliable and cost-effective transportation solutions for your shipments.</span>
                <li>Warehousing and Distribution:</li>
                <span>
                    Our warehousing and distribution services are designed to optimize your supply chain and streamline 
                    your operations. We offer secure storage facilities, inventory management, order fulfillment, 
                    cross-docking, and distribution services to meet your storage and distribution needs.
                </span>
                <li>Customs Brokerage:</li>
                <span>
                    We provide comprehensive customs brokerage services to facilitate the smooth and efficient movement 
                    of goods across borders. Our experienced customs brokers handle import and export documentation, 
                    customs clearance, compliance, and regulatory requirements to ensure timely clearance of your 
                    shipments.
                </span>
                <li>Supply Chain Management:</li>
                <span>
                    Our supply chain management solutions help you optimize your supply chain processes and improve 
                    efficiency and visibility across your entire supply chain. We offer strategic planning, vendor 
                    management, inventory optimization, and supply chain analytics to drive operational excellence 
                    and reduce costs.
                </span>
                <li>Freight Management:</li>
                <span>
                    We offer end-to-end freight management solutions to manage your shipments from origin to destination. 
                    Our services include freight rate negotiation, shipment tracking, freight audit and payment, and 
                    carrier management to ensure the timely and cost-effective movement of your goods.
                </span>
                <li>Last-Mile Delivery:</li>
                <span>
                    Our last-mile delivery services ensure that your products are delivered directly to your customers' 
                    doorsteps quickly and efficiently. We offer same-day and next-day delivery options, real-time 
                    tracking, and proof of delivery to enhance the customer experience and increase customer satisfaction.
                </span>
                <li>Reverse Logistics:</li>
                <span>
                    We manage reverse logistics processes, including product returns, exchanges, and repairs, to help you 
                    effectively handle reverse supply chain operations and minimize costs associated with product returns 
                    and warranty claims.
                </span>
                <li>Technology Solutions:</li>
                <span>
                    We leverage advanced technology and logistics software to provide real-time visibility, track and 
                    trace capabilities, and analytics to optimize your logistics operations and make informed business 
                    decisions.
                </span>
        </ul>
        <button class="buttonBtn">See More</button>
      </div>

    <footer>
        <p>&copy; Grodal Logistics</p>
    </footer>
</body>
</html>
