<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>Services</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">(GRODAL LOGISTICS)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="./home">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="./services">Services</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="./contact">Contact</a>
            </li>
        </ul>
        </div>
    </nav>
    <header>
        <h3>Please see services rendered by some of our representatives</h3>
    </header>
    <div class="cards">
        <div class="card">
            <img src="https://res.cloudinary.com/dhwqlht1d/image/upload/v1708360612/heis_ivzx3n.jpg" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">HUBERT LAWRENCE</h5>
            <p class="card-text">Procurement Manager</p>
            <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
        <div class="card">
            <img src="https://res.cloudinary.com/dhwqlht1d/image/upload/v1708360597/ama_pxxrll.webp" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">MEGAN DIXON</h5>
                <p class="card-text">Customs Broker</p>
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
        <div class="card">
            <img src="https://res.cloudinary.com/dhwqlht1d/image/upload/v1708359828/customer_qsocih.jpg" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">JAMES EVERTON</h5>
            <p class="card-text">Customer Representative</p>
            <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
        <div class="card">
            <img src="https://res.cloudinary.com/dhwqlht1d/image/upload/v1708360604/coll_cl68nf.jpg" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">MICHAEL BLATMAN</h5>
            <p class="card-text">Logistics Engineer</p>
            <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
        <div class="card">
            <img src="https://res.cloudinary.com/dhwqlht1d/image/upload/v1708360104/cla_rweohd.jpg" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">CLAIRE O.DWYER</h5>
            <p class="card-text">WareHouse Manager</p>
            <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
        <div class="card">
            <img src="https://res.cloudinary.com/dhwqlht1d/image/upload/v1708360068/nat_hmml0d.jpg" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">VANESSA HUDINGS</h5>
            <p class="card-text">Logistics Coordinator</p>
            <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
        <div class="card">
            <img src="https://res.cloudinary.com/dhwqlht1d/image/upload/v1710189164/ex1_np96zl.webp" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">ERIC HILLS</h5>
            <p class="card-text">Freight Manager</p>
            <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
        <div class="card">
            <img src="https://res.cloudinary.com/dhwqlht1d/image/upload/v1710189199/ex2_w3lypc.jpg" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">KEVIN PATTERSON</h5>
            <p class="card-text">Transportation Management</p>
            <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
        <div class="card">
            <img src="https://res.cloudinary.com/dhwqlht1d/image/upload/v1710189342/ex3_xq1pd2.jpg" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">AMANDA RICHARDSON</h5>
            <p class="card-text">Supply Chain Manager</p>
            <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
        </div>
    </div>
</div>
    <footer>
        <p>&copy; 2024 Your Company</p>
    </footer>
</body>
</html>
